.exercise-page-container {
    text-align: center; /* Align content in the center */
  }
  
  .level-buttons-container {
    display: flex;
    justify-content: center; /* Align buttons in the center */
    margin-bottom: 20px; /* Add some spacing at the bottom */
  }
  
  .level-button {
    margin: 0 10px; /* Add some spacing between buttons */
    padding: 10px 20px; /* Add padding to buttons */
    border: none;
    background-color: #b74dcf; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
  }
  
  .level-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
  
  /* ExercisePage.css */

.exercise-cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style-type: none;
  }
  
  .exercise-card {
    width: calc(33.33% - 20px); /* Adjust the width of each card */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .exercise-card h3 {
    margin-top: 0;
  }
  