/* Navbar.css */
.navbar {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    height: 57px;
  }
  .logo1{
    box-shadow: 2px 2px 1px gray;
  }
  .logo {
    box-shadow: 2px 2px 1px gray;
  }
  
  .navbarcss {
    background-color: rgb(230, 226, 239);
  }
  
  .btn-outline-success.btn-sm {
    padding: 0.25rem 0.5rem;
  }
  
  .login-text {
    font-size: 1.1rem;
    font-weight: 600;
  }
 